@use 'styles/variables.scss' as var;

$menu-gap: var.$space-m;
$menu-option-hover: var.$brand;

.menu {
    @media screen and (max-width: 1023px) {
        display: none;
    }

    @media screen and (min-width: 1024px) {
        display: flex;
        align-items: center;
        align-content: center;
        gap: $menu-gap;

        &__option {

            &:hover {
                color: $menu-option-hover;
                cursor: pointer;
            }

            &_selected {
                color: $menu-option-hover;
            }
        }
    }
}