@use 'styles/variables.scss' as var;

$button-font-size: 18px;
$button-height: 52px;
$buttom-color-disabled: #D9D9D9;
$buttom-border: var.$border-radius;

button {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

.button {
    background-color: var.$brand;
    transition: background-color 0.3s ease-in-out;

    color: var.$light;
    font-size: $button-font-size;
    height: $button-height;
    border-radius: $buttom-border;
    cursor: pointer;

    padding: var.$space-s var.$space-l;

    &_unloading {
        &:hover:enabled {
            background-color: var.$brand-hover;
            transition: background-color 0.3s ease-in-out;
        }
    
        &:disabled {
            background-color: $buttom-color-disabled; 
            transition: background-color 0.3s ease-in-out;       
        }
    
        &:active:enabled {
            background-color: var.$brand-active;
            transition: background-color 0.3s ease-in-out;
        }
    }

    &_loading {
        display: flex;
        gap: 8px;
        align-items: center;
        align-content: center;
        justify-content: center;

        .loader {
            border-color: var.$light;
            border-top-color: transparent;
        }

        &:disabled {
            background-color: var.$brand;
        }

        &_disabled:disabled {
            background-color: $buttom-color-disabled;
        }
    }
}