@use './variables.scss' as var;

.icon {
    $icon-primary: var.$dark;
    $icon-secondary: var.$gray;
    $icon-accent: var.$brand;
    $icon-inherit: 'currentColor';
  
    &_stroke_color {
      &_primary {
        stroke: $icon-primary;
      }
      
      &_secondary {
        stroke: $icon-secondary;
      }
      
      &_accent {
        stroke: $icon-accent;
      }
      
      &_inherit {
        stroke: $icon-inherit;
      }
    }
  
    &_fill_color {
      &_primary {
        fill: $icon-primary;
      }
      
      &_secondary {
        fill: $icon-secondary;
      }
      
      &_accent {
        fill: $icon-accent;
      }
      
      &_inherit {
        fill: $icon-inherit;
      }
    }
}

.text-align-center {
  text-align: center;
}

.text-responsive {
  @media screen and (max-width: 460px) {
    font-size: 16px;
  }

  @media screen and (min-width: 461px) and (max-width: 819px) {
    font-size: 18px;
  }

  @media screen and (min-width: 820px) {
    font-size: 20px;
  }
}

.padding_hor {
  @media screen and (max-width: 460px) {
    padding: 0 25px 0 25px;
  }

  @media screen and (min-width: 461px) and (max-width: 820px) {
    padding: 0 50px 0 50px;
  }

  @media screen and (min-width: 821px) {
    padding: 0 100px 0 100px;
  }
}

.margin_hor {
  @media screen and (max-width: 460px) {
    margin: 0 25px 0 25px;
  }

  @media screen and (min-width: 461px) and (max-width: 820px) {
    margin: 0 50px 0 50px;
  }

  @media screen and (min-width: 821px) {
    margin: 0 100px 0 100px;
  }
}

.margin_top_hor {
  @media screen and (max-width: 460px) {
    margin: 50px 25px 0 25px;
  }

  @media screen and (min-width: 461px) and (max-width: 820px) {
    margin: 50px 50px 0 50px;
  }

  @media screen and (min-width: 821px) {
    margin: 50px 100px 0 100px;
  }
}