@use './variables.scss' as var;

.icon {
    $icon-primary: var.$dark;
    $icon-secondary: var.$gray;
    $icon-accent: var.$brand;
    $icon-inherit: 'currentColor';
  
    &_stroke_color {
      &_primary {
        stroke: $icon-primary;
      }
      
      &_secondary {
        stroke: $icon-secondary;
      }
      
      &_accent {
        stroke: $icon-accent;
      }
      
      &_inherit {
        stroke: $icon-inherit;
      }
    }
  
    &_fill_color {
      &_primary {
        fill: $icon-primary;
      }
      
      &_secondary {
        fill: $icon-secondary;
      }
      
      &_accent {
        fill: $icon-accent;
      }
      
      &_inherit {
        fill: $icon-inherit;
      }
    }
}