@import './Roboto/fonts.css';

html, body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;

  a {
    text-decoration: underline;
    color: black;
  }
  
  a:active, a:link, a:visited, a:hover {  
    color: black;   
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
pre {
  margin: 0;
}