$brand: #B5460F;
$brand-hover: rgba(181, 70, 15, 0.7);
$brand-active: #872D01;

$dark: black; 
$light: white;
$gray: #AFADB5;

$border-radius: 10px;

$space-xl: 24px;
$space-l: 20px;
$space-m: 16px;
$space-s: 14px;
$space-xs: 12px;
$space-xxs: 8px;