@use 'styles/variables.scss' as var;

$card-width-big: 348px;
$card-width-middle: 300px;
$card-width-small: 280px;

$card-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
$card-bg: var.$light;
$card-image-bg: #D9D9D9;
$card-padding-bottom: var.$space-xl;
$card-gap: var.$space-xl;
$card-info-padding: 0 var.$space-xs;
$card-info-gap: var.$space-l;
$card-info-text-gap: var.$space-xxs;
$card-info-slot-gap: var.$space-xxs;
$card-border: var.$border-radius;

.card {
    font-family: 'Roboto';
    display: grid;
    padding: 0;
    padding-bottom: $card-padding-bottom;
    gap: $card-gap;
    background-color: $card-bg;
    border-radius: $card-border;

    @media screen and (max-width: 520px) {
        width: 100%;
        grid-template-rows: $card-width-small 1fr;
    }

    @media screen and (min-width: 521px) and (max-width: 700px) {
        width: $card-width-middle;
        grid-template-rows: $card-width-middle 1fr;
    }
    
    @media screen and (min-width: 701px) and (max-width: 912px) {
        width: $card-width-small;
        grid-template-rows: $card-width-small 1fr;
    }
    
    @media screen and (min-width: 913px) {
        width: $card-width-big;
        grid-template-rows: $card-width-big 1fr;
    }

    &:hover {
        box-shadow: $card-shadow;
    }

    &__img {
        background-color: $card-image-bg;
        object-fit: cover;
        width: 100%;

        @media screen and (max-width: 520px) {
            height: 100%;
        }

        @media screen and (min-width: 521px) and (max-width: 767px) {
            height: $card-width-middle;
        }
        
        @media screen and (min-width: 768px) and (max-width: 912px) {
            height: $card-width-small;
        }
        
        @media screen and (min-width: 913px) {
            height: $card-width-big;
        }

        border-radius: $card-border $card-border 0 0;
    }

    &__info {
        display: grid;
        padding: $card-info-padding;
        gap: $card-info-gap;
        align-content: space-between;
        
        &__text {
            height: 100%;
            display: grid;
            gap: $card-info-text-gap;

            &__title, &__subtitle {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
            }

            &__title {
                -webkit-line-clamp: 2;
            }

            &__subtitle {
                -webkit-line-clamp: 3;
            }
        }

        &__slot {
            height: fit-content;
            display: flex;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            gap: $card-info-slot-gap;

            &__content {
                color: var.$brand;
            }
        }
    }
}