@use 'styles/variables.scss' as var;

$header-bg: var.$light;
$header-h: 64px;
$header-left-gap: 80px;
$header-left-gap-middle: 60px;
$header-left-gap-small: 20px;

.header {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: $header-h;
    background-color: $header-bg;
    display: flex;
    justify-content: space-between;

    &__left {
        display: flex;

        @media screen and (max-width: 460px) {
            gap: $header-left-gap-small;
        }
        
        @media screen and (min-width: 461px) and (max-width: 819px) {
            gap: $header-left-gap-middle;
        }
        
        @media screen and (min-width: 820px) {
            gap: $header-left-gap;
        }
    }

    &__right {
        display: flex;
        align-items: center;
    }
}