@use '../../styles/variables.scss' as var;

$header-bg: var.$light;
$header-h: 64px;
$header-padding: 0 100px 0 100px; 
$header-left-gap: 80px;

.header {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: $header-h;
    padding: $header-padding;
    background-color: $header-bg;
    display: flex;
    justify-content: space-between;

    &-left {
        display: flex;
        gap: $header-left-gap;
    }

    &-right {
        display: flex;
        align-items: center;
    }
}