@use 'styles/variables.scss' as var;

$multidropdown-gap: var.$space-xxs;
$options-bg: var.$light;
$options-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
$option-padding: var.$space-s var.$space-xs; 
$option-color-hover: var.$gray;
$option-color-selected: var.$brand;
$option-border: var.$border-radius;

.multidropdown {
    display: flex;
    flex-direction: column;
    padding: 0;
    position: relative;

    &__slots {
        display: flex;
        align-items: center;
        gap: 6px;
    }

    &__options {
        background-color: $options-bg;
        box-shadow: $options-shadow;
        border-radius: $option-border;
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        margin-top: $multidropdown-gap;
        overflow-y: auto;
        max-height: calc(48px * 3);
        z-index: 100;

        &::-webkit-scrollbar {
            width: $option-border;
            border-radius: $option-border;

            &-thumb {
                background: $option-color-hover;
                border-radius: $option-border;
            }
        }

        &__option {
            padding: $option-padding;
            cursor: pointer;

            > span {
                cursor: pointer !important;
            }

            &:hover {
                color: $option-color-hover;
            }

            &_selected, &_selected:hover {
                color: $option-color-selected;
            }
        }
    }
}